<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
			<add key="ScreenShotInterval" value="10"/>
			<add key="FromMail" value="panareczekodbio@wp.pl" />
			<add key="Password" value="PanieAreczkuCoPanRobi"/>
			<add key="Host" value="smtp.wp.pl" />
			<add key="MakeSound" value="true" />
	</appSettings>

</configuration>